/* Stylowanie kontenera */
.page-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    background-color: #f4f4f4;
    width: 100%;
}

/* Zielony pasek pod nagłówkiem */
.header {
    text-align: center;
    background-color: #e3f7d8; /* Zielony pasek */
    color: black; /* Biały kolor tekstu */
    padding: 30px 0; /* Jeszcze większe odstępy pionowe */
    margin: 0;
    font-size: 1.5rem; /* Opcjonalnie większy tekst */
}


    .header:after {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background-color: #e3f7d8; /* Zielony pasek */
        margin-top: 10px;
    }

/* Styl sekcji lewej */
.left-section {
    flex: 1;
    min-width: 800px;
    background-color: #e3f7d8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Sekcja prawa (Tweety) */
.right-section {
    flex: 1;
    min-width: 800px;
    background-color: #e3f7d8; /* Zielony kolor tła */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Styl placeholderów */
.placeholder {
    height: 400px; /* Większa wysokość */
    background-color: #ddd;
    border: 2px dashed #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #777;
    margin-bottom: 20px;
}

/* Styl paginacji */
.pagination {
    display: flex;
    gap: 10px;
}

    .pagination button {
        padding: 10px 15px;
        border: 1px solid #ccc;
        background-color: #fff;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;
    }

        .pagination button:hover {
            background-color: #eee;
        }

/* Tweety */
.twitter-timeline {
    width: 100%; /* Rozciągnij widżet na pełną szerokość */
    border: none;
    background-color: #e3f7d8;
}
