body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container-kontakt {
    width: 90%;
    max-width: 800px;
    max-height: 80vh;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-y: auto;
}

.big--h1 {
    text-align: center;
    font-size: 4rem;
}

.person {
    margin: 20px 0;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .person:last-child {
        border-bottom: none;
    }

    .person h2 {
        margin: 0;
        color: #555;
    }

.icon {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    transition: 0.3s;
    margin-right: 15px;
}

    .icon:hover {
        transform: scale(1.4);
    }
