/* Reset & Base */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #f3f3f3;
}

/* Main Content */
.main-content {
    flex: auto;
    padding: 20px;
    background-color: #f3f3f3; /* Ustawienie jednolitego tła */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.dropdown {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 250px;
}

.display-area {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 150px;
    max-height: calc(100vh - 200px);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #888;
    font-size: 18px;
}

/* Tabela Zawodników */
.zawodnik-table-wrapper {
    width: 100%;
    overflow-x: auto;
    display: block;
    margin-top: 20px;
    max-height: 60vh; /* Ograniczamy wysokość tabeli */
}

.zawodnik-table {
    width: 100%;
    border-collapse: collapse;
}

    .zawodnik-table th, .zawodnik-table td {
        padding: 12px;
        text-align: left;
        border: 1px solid #ddd;
    }

    /* Sticky Headers */
    .zawodnik-table th {
        background-color: #f4f4f4;
        font-weight: bold;
        position: sticky;
        top: 0;
        z-index: 10;
        box-shadow: none; /* Usuwamy cień */
    }

    /* Wiersze tabeli */
    .zawodnik-table tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .zawodnik-table tr:hover {
        background-color: #f1f1f1;
    }

    .zawodnik-table td {
        font-size: 14px;
    }

    .zawodnik-table th, .zawodnik-table td {
        border: 1px solid #ccc;
        padding: 8px 12px;
    }

/* Responsywność */
@media screen and (max-width: 768px) {
    .dropdown {
        width: 100%;
        max-width: none;
    }

    .zawodnik-table {
        font-size: 12px;
    }

        .zawodnik-table th, .zawodnik-table td {
            padding: 8px 10px;
        }
}

@media screen and (max-width: 480px) {
    .dropdown {
        padding: 8px;
    }

    .zawodnik-table th, .zawodnik-table td {
        padding: 6px 8px;
    }

    .zawodnik-table {
        font-size: 10px;
    }
}
