.content-terminarz {
    display: none; /* Wyświetlanie zawartości */
    width: 100%; /* Pełna szerokość */
    height: auto; /* Dostosowanie do zawartości */
}

.container {
    max-width: 1200px; /* Opcjonalne - szerokość kontenera */
    margin: 0; /* Wyśrodkowanie */
}

iframe {
    width: 200%; /* Pełna szerokość kontenera */
    height: 1000px; /* Wysokość można dostosować */
    border: none; /* Usunięcie obramowania */
    overflow: auto; /* Włącz przewijanie, jeśli zawartość jest większa */
}
.shown {
    display:block;
}

