.content {
    display: block; /* Wyświetlanie zawartości */
    width: 100%; /* Pełna szerokość */
    height: auto; /* Dostosowanie do zawartości */
}

.container {
    max-width: 1200px; /* Opcjonalne - szerokość kontenera */
    margin: 0 auto; /* Wyśrodkowanie */
}

iframe {
    width: 100%; /* Pełna szerokość kontenera */
    height: 600px; /* Wysokość można dostosować */
    border: none; /* Usunięcie obramowania */
    overflow: auto; /* Włącz przewijanie, jeśli zawartość jest większa */
}

