/* Ukryj wszystkie pola na starcie */
.content {
    display: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.content img {
    width: 100%; /* Dopasowuje szerokość obrazka do szerokości kontenera */
    max-width: 1200px; /* Opcjonalnie maksymalna szerokość dla większych ekranów */
    height: auto; /* Zachowanie proporcji */
    display: block; /* Wycentrowanie obrazu */
    margin: 0 auto; /* Wyśrodkowanie w poziomie */
}
