.wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
    padding-top: 20px;
    flex-direction: column;
}

.container-zasady,
.container-faq {
    max-width: 80%;
    max-height: 60%;
    background-color: #fff;
    padding: 20px;
    border: 1px solid black;
    overflow-y: auto;
    margin-bottom: 20px;
}

.container-zasady-item {
    margin-bottom: 25px;
}

.container-faq-item {
    margin-bottom: 15px;
}

th, td, tr {
    border: 1px solid black;
}

td {
    text-align: left;
    vertical-align: middle;
}

    td:nth-child(2) {
        text-align: center;
    }