@model IEnumerable<Zawodnik>
@{
    ViewData["Title"] = "Statystyki";
}
<!DOCTYPE html>
    <html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"] - Fantasy Legends</title>
        <link href="~/css/statystyki.css" rel="stylesheet" />
        <a href="~/js/statystyki.jsx"></a>
    </head>
    <body>
        <!-- Header -->
        <header class="header">
        </header>

        <!-- Main Content -->
        <main class="main-content">
            <h1>Statystyki</h1>
            <select class="dropdown">
                <option>Wszyscy zawodnicy</option>
                <optgroup label="Pozycje">
                    <option>Bramkarz</option>
                    <option>Obrońca</option>
                    <option>Pomocnik</option>
                    <option>Napastnik</option>
                </optgroup>
                <optgroup label="Kluby">
                    <option>Lech, Legia itd.</option>
                </optgroup>
            </select>

            <!-- Display Area -->
            <div class="">
                <table>
                    <tr>
                        <td>Nazwisko</td>
                        <td>Pozycja</td>
                    </tr>
                    @foreach(var zawodnik in Model)
                    {
                        <tr>
                            <td>@zawodnik.Nazwisko</td>
                            <td>@zawodnik.Pozycja</td>
                        </tr>
                    }
                </table>
            </div>
        </main>
    </body>
    </html>