@page
@model FantasyApp.Pages.TerminarzModel
@{
    <!DOCTYPE html>
    <html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="~/css/terminarz.css" rel="stylesheet" />
        <title>Terminarz</title>
    </head>
    <body>
        <div class="container">
            <h1>Terminarz</h1>
            <select id="select-option" onchange="showContent()">
                <option value="none" selected hidden disabled>Wybierz opcję</option>
                <option value="cala-runda">Cała runda</option>
                <option value="cala-runda-fdr">Cała runda FDR</option>
                <option value="kolejki">Poszczególne kolejki</option>
            </select>
            <!-- Pola do wyświetlania terminarzy -->
            <div id="cala-runda" class="content" >
                <h2>Terminarz całej rundy</h2>
                <iframe src="/Pliki_terminarz/terminarz_NO_FDR.htm"  frameborder="0"></iframe>
            </div>
            <div id="cala-runda-fdr" class="content" >
                <h2>Terminarz całej rundy FDR</h2>
                <iframe src="/Pliki_terminarz/terminarz_FDR.htm"  frameborder="0"></iframe>
            </div>
            <div id="kolejki" class="content">
                <h2>Terminarz poszczególnych kolejek</h2>
                <select id="select-kolejka" onchange="showKolejkaContent()">
                    <option value="none" selected hidden disabled>Wybierz kolejkę</option>
                </select>
                <div id="fixtures" class="kolejka-content"></div>
            </div>
        </div> 

       


        <script src="~/js/terminarz.js"></script>
    </body>
    </html>
}